opencv-python~=4.10.0.84
numpy~=1.26.4
matplotlib~=3.10.1
segment-anything~=1.0
onnxruntime~=1.20.0
setuptools~=72.1.0
torchvision~=0.19.1
scikit-image~=0.25.0
fvcore~=0.1.5.post20221221
torch~=2.4.1
sam2~=1.0.0
pillow~=11.1.0
tqdm~=4.67.1
iopath~=0.1.10
omegaconf~=2.3.0
dataclasses~=0.8